<section class="py-5"> 
    <div class="container d-flex justify-content-center align-items-center min-vh-100">

        <div class="row border rounder-5 p-3 bg-white shadow box-area">

            <div class="col-md-6 rounder-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #103cbe;">
                <div class="featured-image mb-3">
                    <img src="images/1.png" class="img-fluid" style="width: 250px;" alt="">
                </div>
                <p class="text-white fs-2" style="font-family: 'Courier New', 'Courier New', Courier, monospace; font-weight: 600;">Be Verified</p>
                <small class="text-white text-wrap text-center" style="width: 17rem; font-family: 'Courier New', Courier, monospace;">Join experienced Designers on this platform</small>
            </div>
            <div class="col-md-6 right-box">
                <div class="row align-items-center">
                    <div class="header-text mb-4">
                        <h1>Sign up </h1>
                        <p>Hello,friend</p>
                        <p>We are happy to have you back.</p>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="User" ng-model="info.us">
                    </div>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control form-control-lg bg-light fs-6" placeholder="Phone" ng-model="info.phone">
                    </div>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control form-control-lg bg-light fs-6" placeholder="Email" ng-model="info.email">
                    </div>
                    <div class="input-group mb-1">
                        <input type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Password" ng-model="info.pss">
                    </div>
                    <div class="input-group mb-1">
                        <input type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Enter the password" ng-model="info.pss1">
                    </div>
                    <div class="input-group mb-3">
                        <button class="btn btn-lg btn-primary w-100 fs-6" ng-click="reg()">Sign up</button>
                    </div>
                    <div class="input-group mb-3">
                        <button class="btn btn-lg btn-light w-100 fs-6"><img src="images/google.png" style="width: 20px;" class="me-2"><small>Sign in with Google</small></button>
                    </div>
                    <div class="row">
                        <small>You have account? <a href="#!/login">Login</a></small>
                    </div>
                </div>

            </div>
        </div>
      </div>
  </section>