<section id="offers" class="py-5">
    <div class="container">
        <div
            class="row d-flex align-items-center justify-content-center text-center justify-content-lg-start text-lg-start">
            <div class="offers-content">
                <span class="text-white">Giảm giá tới 40%</span>
                <h2 class="mt-2 mb-4 text-white">Ưu đãi giảm giá lớn!</h2>
                <a href="#" class="btn">Mua ngay</a>
            </div>
        </div>
    </div>
</section>


<section id="blogs" class="py-5">
    <div class="container">
        <div class="title text-center py-5">
            <h2 class="position-relative d-inline-block">Blog mới nhất của chúng tôi</h2>
        </div>

        <div class="row g-3">
            <div class="card border-0 col-md-6 col-lg-4 bg-transparent my-3">
                <img src="images/border-1.jpg" alt="">
                <div class="card-body px-0">
                    <h4 class="card-title">Lorem ipsum, dolor sit amet consectetur adipisicing</h4>
                    <p class="card-text mt-3 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Eveniet aspernatur repudiandae nostrum dolorem molestias odio. Sit fugit adipisci omnis quia
                        itaque ratione iusto sapiente reiciendis, numquam officiis aliquid ipsam fuga.</p>
                    <p class="card-text">
                        <small class="text-muted">
                            <span class="fw-bold">Author: </span>John Doe
                        </small>
                    </p>
                    <a href="#" class="btn">Đọc thêm</a>
                </div>
            </div>

            <div class="card border-0 col-md-6 col-lg-4 bg-transparent my-3">
                <img src="images/border-2.jpg" alt="">
                <div class="card-body px-0">
                    <h4 class="card-title">Lorem ipsum, dolor sit amet consectetur adipisicing</h4>
                    <p class="card-text mt-3 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Eveniet aspernatur repudiandae nostrum dolorem molestias odio. Sit fugit adipisci omnis quia
                        itaque ratione iusto sapiente reiciendis, numquam officiis aliquid ipsam fuga.</p>
                    <p class="card-text">
                        <small class="text-muted">
                            <span class="fw-bold">Author: </span>John Doe
                        </small>
                    </p>
                    <a href="#" class="btn">Đọc thêm</a>
                </div>
            </div>

            <div class="card border-0 col-md-6 col-lg-4 bg-transparent my-3">
                <img src="images/border-3.jpg" alt="">
                <div class="card-body px-0">
                    <h4 class="card-title">Lorem ipsum, dolor sit amet consectetur adipisicing</h4>
                    <p class="card-text mt-3 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Eveniet aspernatur repudiandae nostrum dolorem molestias odio. Sit fugit adipisci omnis quia
                        itaque ratione iusto sapiente reiciendis, numquam officiis aliquid ipsam fuga.</p>
                    <p class="card-text">
                        <small class="text-muted">
                            <span class="fw-bold">Author: </span>John Doe
                        </small>
                    </p>
                    <a href="#" class="btn">Đọc thêm</a>
                </div>
            </div>
        </div>
    </div>
</section>