<ul class="navbar-nav mx-auto text-center">
    <li class="nav-item px-2 py-2">
        <a href="#" class="nav-link text-uppercase text-dark">Trang chủ</a>
    </li>
    <li class="nav-item px-2 py-2">
        <a href="#!/collection" class="nav-link text-uppercase text-dark">Điện thoại</a>
    </li>
    <li class="nav-item px-2 py-2">
        <a href="#!/special" class="nav-link text-uppercase text-dark">Phụ kiện</a>
    </li>
    <li class="nav-item px-2 py-2">
        <a href="#!/blogs" class="nav-link text-uppercase text-dark">Blogs</a>
    </li>
    <li class="nav-item px-2 py-2">
        <a href="#!/about" class="nav-link text-uppercase text-dark">Liên hệ</a>
    </li>
</ul>