<div class="title text-center">
    <h2 class="position-relative d-inline-block">Sản phẩm</h2>
</div>

<div class="row g-0">
    <div class="d-flex flex-wrap justify-content-center mt-5 filter-button-group">
        <button type="button" class="btn m-2 text-dark active-filter-btn" data-filter="*">Tất cả</button>
        <button type="button" class="btn m-2 text-dark" data-filter=".best">Bán chạy</button>
        <button type="button" class="btn m-2 text-dark" data-filter=".feat">Iphone</button>
        <button type="button" class="btn m-2 text-dark" data-filter=".new">Hàng mới về</button>
    </div>

    <div class="collection-list mt-4 row gx-0 gy-3">
        <div class="col-md-6 col-lg-4 col-xl-3 p-2 feat">
            <div class="collection-img position-relative">
                <img src="images/iphone-12-(66).jpg">
                <!-- <span class = "position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span> -->
            </div>
            <div class="text-center">
                <div class="rating mt-3">
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                </div>
                <p class="text-capitalize my-1">IPhone 12</p>
                <span class="fw-bold">$ 587.26</span>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3 p-2 feat">
            <div class="collection-img position-relative">
                <img src="images/iphone-14-pro-max-(54).jpg">
                <!-- <span class = "position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span> -->
            </div>
            <div class="text-center">
                <div class="rating mt-3">
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                </div>
                <p class="text-capitalize my-1">IPhone 14 Pro</p>
                <span class="fw-bold">$ 1713.63</span>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3 p-2 new feat">
            <div class="collection-img position-relative">
                <img src="images/iphone-15-pro-max-(6).jpg">
                <!-- <span class = "position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span> -->
            </div>
            <div class="text-center">
                <div class="rating mt-3">
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                </div>
                <p class="text-capitalize my-1"> IPhone 15 Pro Max</p>
                <span class="fw-bold">$ 1346.34</span>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3 p-2 best">
            <div class="collection-img position-relative">
                <img src="images/xiaomi-13t-12gb-(4).jpg">
                <!-- <span class = "position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span> -->
            </div>
            <div class="text-center">
                <div class="rating mt-3">
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                </div>
                <p class="text-capitalize my-1">Xiaomi 13T 5G 12GB</p>
                <span class="fw-bold">$ 489.32</span>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3 p-2 best">
            <div class="collection-img position-relative">
                <img src="images/xiaomi-redmi-note-13-pro-5g-thumb-1-600x600.jpg">
                <!-- <span class = "position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span> -->
            </div>
            <div class="text-center">
                <div class="rating mt-3">
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                </div>
                <p class="text-capitalize my-1">Xiaomi Redmi Note 13 Pro 5G</p>
                <span class="fw-bold">$ 199.56</span>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3 p-2 new">
            <div class="collection-img position-relative">
                <img src="images/xiaomi-redmi-note-13-pro-plus-thumb-600x600.jpg">
                <!-- <span class = "position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span> -->
            </div>
            <div class="text-center">
                <div class="rating mt-3">
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                </div>
                <p class="text-capitalize my-1">Xiaomi Redmi Note 13 Pro+ 5G</p>
                <span class="fw-bold">$ 199.56</span>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3 p-2 best">
            <div class="collection-img position-relative">
                <img src="images/samsung-galaxy-m54-(2).jpg">
                <!-- <span class = "position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span> -->
            </div>
            <div class="text-center">
                <div class="rating mt-3">
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                </div>
                <p class="text-capitalize my-1">Samsung Galaxy M54 5G</p>
                <span class="fw-bold">$ 428.10</span>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3 p-2 best">
            <div class="collection-img position-relative">
                <img src="images/samsung-galaxy-s23-fe-5g-tim-thumb-600x600.jpeg">
                <!-- <span class = "position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span> -->
            </div>
            <div class="text-center">
                <div class="rating mt-3">
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                    <span class="text-primary"><i class="fas fa-star"></i></span>
                </div>
                <p class="text-capitalize my-1">Samsung Galaxy S23 FE 5G</p>
                <span class="fw-bold">$ 505.64</span>
            </div>
        </div>
    </div>
</div>
